
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displayHome</title>
</head>
<body>
    <div>
        this is the homepage!
        <a href="~/Contact/displayContact">Contact</a>
        <a href="~/Form/displayForm">Form</a>
        <a href="~/AboutUS/displayAbout">About-Us</a>
        @(100+100)
    </div>
</body>
</html>
