
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displayContact</title>
</head>
<body>
    <div> 
        this is the contact page, but unfortunately there is no contact information here ;-;.
    </div>
</body>
</html>
