
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displayForm</title>
</head>
<body>
    <div> 
        <form action="" method="get">
            <label for="username">Username:</label>
            <input type="Text" placeholder="Username..." id="username" name="username" /><br />
            <label for="password">Password: </label>
            <input type="Password" placeholder="Password..." id="password" name="password" /><br />
            <input type="radio" id="Male" name="Gender" value="Male">
            <label for="Male">MALE</label><br>
            <input type="radio" id="Female" name="Gender" value="Female">
            <label for="Female">Female</label><br>

            <input type="checkbox" id="html" name="courses" value="HTML" />
            <label for="html">HTML</label> &nbsp; &nbsp;

            <input type="checkbox" id="css" name="courses" value="CSS" />
            <label for="css">CSS</label>    &nbsp; &nbsp;

            <input type="checkbox" id="js" name="courses" value="JS" />
            <label for="js">JS</label><br />

            <input type="submit" value="submit" />
            <input type="reset" value="reset" />


        </form>
    </div>
</body>
</html>
