
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>displayAbout</title>
</head>
<body>
    <div> 
        hello this is a assignment project. But it is a work in progress.
    </div>
</body>
</html>
